@charset "UTF-8";

/* Em HTML é id = em CSS é (#) // Em HTML é class = em CSS é (.) */ 

body{
    background-color: #F2A7E6;
    font-family: Arial, Helvetica, sans-serif;
}

#principal{
    text-align: center;
    background-color: #661d49;
    color: white;
}

h1{
    color: #661d49; 
    text-decoration: underline;
}

h2{
    color: #ba39a4; 
}

.basico{
    color: rgb(19, 106, 19);
    font-weight: lighter;
}

.intermediario{
    color: rgb(105, 96, 17);
    font-weight: lighter;
}

.avancado{
    color: rgb(101, 22, 22);
    font-weight: lighter;
}

p{
    text-align: justify;
    text-indent: 30px;
}